.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
.env.local
.Python
.python-version
.pytest_cache/
.pytest_cache
.mypy_cache/
.pytest_cache/
pip-wheel-metadata/
*.egg-info/
*.egg
build/
dist/
.DS_Store
*.log
*.sqlite3
*.db
*.db-journal
.ipynb_checkpoints/
.vscode/
.idea/
__pycache__/
